body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family:'Helvetica Neue', Helvetica, arial, sans-serif;
}

#title {
  text-align: center;
}

.outer-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

#container {
  position: relative;
  width: 100%;
  padding-bottom: 59%;
}

#mbMap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 60px;
  left: 0;
}

#d3Map {
  position: absolute;
  width: 100%;
  height: 100%;
  /* quantile color scale */
}

#d3Map .counties {
  fill: #c6c6c6;
  cursor: pointer;
}

#d3Map .q0-8 {
  fill: #ff0000;
}

#d3Map .q1-8 {
  fill: #ff0000;
}

#d3Map .q2-8 {
  fill: #ff0000;
}

#d3Map .q3-8 {
  fill: #ff0000;
}

#d3Map .q4-8 {
  fill: #0066ff;
}

#d3Map .q5-8 {
  fill: #0066ff;
}

#d3Map .q6-8 {
  fill: #0066ff;
}

#d3Map .q7-8 {
  fill: #0066ff;
}

#d3Map .state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

button {
  padding: 10px 10px 10px 10px;
  background-color: white;
  color: #444;
  box-shadow: 0 1.5px 0 #e2e2e2;
  border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1.5px solid #c2c2c2;
  font-family: 'Arial';
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
}

button:disabled {
  background-color: white;
  color: graytext;
  cursor: auto;
}

button:hover {
  background-color: #ededed;
}

button:disabled:hover {
  background-color: white;
}

button:focus {
  outline: 0;
}

button:active {
  box-shadow: none;
  background-color: #ededed;
  color: #636363;
}

/* LEGEND STYLES */
#bottom-container {
  position: relative;
}

.detail {
  top: 80px;
}

/* FOOTER STYLES */
.footer-wrap {
  position: relative;
  width: 100%;
  text-align: center;
  color: #626764;
  font: 11px 'Helvetica Neue', Helvetica, arial, sans-serif;
}

.ui-slider {
  width: 400px;
}

.slider-label {
  width: 400px;
  font-family:'Helvetica Neue', Helvetica, arial, sans-serif;
}

.slider-set-wrapper {
  position: relative;
  z-index: 8888;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  margin-top: 20px;
  display: inline-block;
}

.slider-set-container{
  display: inline-block;
  width: 48%;
  margin: 0 7.5px;
  text-align: left;
  vertical-align: top;
}

#update {
  margin: 0 auto;
}

#loading-message {
  color: red;
  font-family: "Arial";
}

#sliders-submit, #block-message {
  display: none;
}

.blockMsg {
  padding: 20px!important;
}